body {
	width: 100%;
	display: grid;
	background-color: #121212;
	color: "#ffffff";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 2;
}

.admin-card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.admin-card-search {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.admin-card-users {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.admin-card-user {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.admin-card-user-name {
	width: 40%;
	font-size: large;
	overflow-x: wrap;
}

.admin-card-user-email {
	width: 100%;
}

.admin-card-user-remove {
	width: 5rem;
	background-color: #77529e;
	align-content: center;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.admin-card-user-remove:hover {
	background-color: #bb86fc;
	cursor: pointer;
}

.search {
	font-size: large;
	width: 20rem;
	height: 2rem;
	border: none;
	border-bottom: 1px solid #2d2d2d;
	background-color: #121212;
	color: #ffffff;
}

.search:focus {
	outline: none;
	border-bottom-color: #bb86fc;
}
.empty {
	width: 5rem;
}